body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #5699f2;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.837);
  border: 2px solid black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  color: #333;
}

p {
  color: #555;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(98, 9, 9);
}

.back {
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;

}
